@using Microsoft.JSInterop
@inject IJSRuntime JS

<div class="canvas-wrapper">
    <canvas id="avatar-canvas" @ref="canvasRef"></canvas>
    @if (isLoading)
    {
        <div class="canvas-loading">
            <div class="pulse-ring"></div>
            <p>Generating avatar…</p>
        </div>
    }
</div>

@code {
    [Parameter] public string? AvatarUrl { get; set; }

    private ElementReference canvasRef;
    private bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("avatarViewer.init", canvasRef);
        }

        if (AvatarUrl is not null)
        {
            isLoading = true;
            await JS.InvokeVoidAsync("avatarViewer.loadModel", AvatarUrl);
            isLoading = false;
            StateHasChanged();
        }
    }
}
